<div
    data-ui-variant="{{ semantic_variant }}"
    data-ui-placement="{{ placement }}"
    role="{{ flash_aria_role }}"
    {% if auto_dismiss %}data-ui-auto-dismiss style="--ux-flash-duration: {{ flash_duration_css }}"{% endif %}
    {{ attributes }}
>
    <div data-ui-part="flash-body">
        {% if resolved_icon %}
            {% include '@UxBlocksCore/components/_shared/p_icon_slot.html.twig' with {
                iconName: resolved_icon,
                iconDecorative: iconDecorative,
            } only %}
        {% endif %}
        <span data-ui-part="content">{% block content %}{% endblock %}</span>
    </div>
</div>
